:root {
  --colorPrimary:#365953;
  --colorGrey: #737373;
  --colorGreyClair: #A6A6A6;
  --backgroundGreyClair: #D9D9D9;
}
body{
  background: var(--backgroundGreyClair);
  font-family: Segoe UI;
}
nav{
  background: var(--colorPrimary);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
  width: 100%;
  height: 6rem;
  color: white;
  margin-bottom: 3rem;
}
.active {
  display: block;
}

ul{
  margin: 0;
  padding: 0;
}
header > nav > ul > li{
  padding: 0px 4rem;
  list-style: none;
  
}
ul > li > a {
  color: white;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.hamburger{
  margin: auto;
  width: 15vw;
}
.nav-item {
  width: 85vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}
ul {
  display: flex;
}
ul > li {
  width: 10vw;
  list-style-type: none;
}
.spaceUser{
  display: flex;
  justify-content: space-evenly;
}
.spaceUser > span {
  margin-left: 2rem;
 font-size: 25px;
}

input{
  border: none;
  background: none;
  border-bottom: 1px solid black;
}

button{
  background: var(--colorPrimary);
  border: none;
  padding: 1rem 3rem;
  /* border-radius: 45%; */
}

.pseudo{
  color: rgb(226, 225, 225);
  padding: 0;
}

.title{
  text-align: center;
}

.btnLogout{
  cursor: pointer;
}

.form{
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: column;
  background : var(--backgroundGreyClair);
  width: 45vw;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form > input , .form > button{
  margin-top: 1rem;
}

.titlePay{
  text-align: center;
  width: 50vw;
  margin: auto;
  padding: 4rem 0rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 50vw;
}

.inputTitlePay , .inputPricePay{
  width: 80%;
}

.titleInput,.priceInput,.btnSubmit{
  width: 40%;
}

 label{
  margin-top: 1rem;
  color: black;
}
.containerFiche{
  background :var(--backgroundGreyClair);
  border-radius: 1rem;
  margin-left: 2rem;
  width: 20vw;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.fiche{
  display: flex;
  justify-content: center;
}
.titleFiche{
  text-align: center;
}
.item_fiche{
  border-radius: 1rem;
  margin: 1rem;
}
.deleted{
  color: red;
  margin-left: 1rem;
  cursor: pointer;
}
/* ===================== REGISTER ====================== */
.container-form-register{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.title-form{
  font-size: 3em;
  margin: 30px;
}
.title-block{
  display: flex;
  justify-content: center;
}
.rectangle-gauche,.rectangle-droit{
  border-bottom: 1px solid #A5A5A5;
}
.form-register{
  width: 50rem;
  border-radius: 8px;
  border: 1px solid #A5A5A5;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.4);
}
.form-register div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.input-pseudo,.input-firstname,.input-lastname,.input-email,.input-password,.input-confirm-password{
  margin: 20px 0;
}
.link-register-login{
  padding-bottom: 2rem;
}
.btn-submit{
  background: var(--colorPrimary);
  color: white;
  width: 30%;
  border: none;
}
.btnSubmitPay{
  background: var(--colorPrimary);
  color: white;
}
.input-submit{
  padding-bottom: 1rem;
}
/* ======================================================== */
.container-form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding-bottom: 6rem;
}

.checkbtn{
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.totalPrice{
  
}

@media screen and (min-width: 200px) and (max-width: 390px) {
  .container{
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  .form{
    width: 60vw;
    margin: 0;
  }
  .containerFiche{
    width: 60vw;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 390px) and (max-width: 520px) {
  .container{
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  .hamburger{
    width: 0vw;
  }
  .form , .containerFiche{
    width: 65vw;
  }
  .containerFiche{
    margin-top: 2rem;
  }
}
@media screen and (min-width: 520px) and (max-width: 800px) {
  .container{
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  .form , .containerFiche{
    width: 70vw;
  }
  .containerFiche{
    margin-top: 2rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  .container{
    /* width: 80vw; */
    margin: auto;
  }
  .form {
    width: 70vw;
  }
  .containerFiche{
    width: 50vw;
  }
}
@media(max-width:858px){
  .checkbtn{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .hamburger , .nav-item , .checkbtn{
    height: 6rem;
  }
  .hamburger{
    width: 15vw;
  }
  .nav-item{
    margin: 0;
    align-items: center;
    flex-direction: row-reverse;
  }
  .hamburger > label{
    margin-right: 3rem;
  }
  nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: baseline;
  }
  ul{
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100vh;
      border-top: 1px solid #277D6F;
      background: var(--colorPrimary);
      top: 95px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  ul > li{
    width: 100%;
  }
  ul > li > a {
      display: block;
      margin: 50px 0;
      /* padding: 0; */
      line-height: 30px;
  }
  nav ul li a {
      font-size: 20px;
  }
  a:hover,a.active{
      background: none;
      color: var(--colorGreyClair);
  }
  .active{
    left: 0;
  }
  .spaceUser{
    flex-direction: column;
    font-size: 20px;
  }
  .spaceUser > span{
    margin: 0;
  }
}